@charset "UTF-8";


h1{
    text-align: center;
}

   p{
    padding: 10px;
    margin: 20px;
    text-indent: 20px;
    text-align: center;
   }

   a{
    text-decoration: none;
    padding: 10px;
    margin: auto;
    display: block;
    text-align: center;
    max-width: 400px;

    border-radius: 30px;


    background-color: rgb(14, 90, 141);
    color: white;
  
    border-radius: 30px/
   }

   a:hover{
    background-color: rgb(1, 1, 63);
   }