@charset "UTF-8";

@font-face {
    font-family: 'inter';
    src: url('../fontes');
}

body{
   background-color: rgb(36, 36, 36);
   height: 100vh;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
}

main{
    color: white;
}

main h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

