@charset "UTF-8";

body{
   background-color: rgb(36, 36, 36);
   height: 100vh;
   text-align: center;
}

header{
    display: flex;
    color: white;
}

div#nome{
    float: left;
    font-size: 2em;
}

div#redes-sociais{
    float: right;
}

main{
    color: white;
}

main h1 {
    display: block;
}

p{
    padding: 30px;
}

a{
    padding: 20px;
    border: solid white 10px;
    text-decoration: none;
    color: white;
}

